<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/DebugLog/${date:format=yyyy-MM-dd}-logFile.log" />
		<target name="logfile" xsi:type="File" fileName="nlog-errors.log" />
	</targets>


	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="email" />
		<logger name="*" minlevel="Error" writeTo="logfile" />
	</rules>
</nlog>